body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #22343d;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.section {
  padding: 50px 0;
}

.container {
  max-width: 1110px;
  padding: 0 20px;
  margin: 0 auto;
}

/* HEADER */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 16px;
  /* padding: 26px 0; */
  margin-right: 237px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  gap: 30px;
}

.header-nav-link {
  display: inline-block;
  padding: 26px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}

.current {
  font-weight: 600;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #02897a;
}

.header-btn-list {
  display: flex;
  align-items: center;
  gap: 21px;
}
.header-btn {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #173a56;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  min-width: 105px;
  padding: 9px 24px;
  background-color: transparent;
}

.header-btn-signup {
  min-width: 113px;
  background-color: #02897a;
  color: #fff;
}

.header-btn:hover,
.header-btn:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border: none;
}

.header-btn-signup:hover,
.header-btn-signup:focus {
  box-shadow: inset 2px 1px 1px 2px #0329313b, inset 1px 2px 1px 0 #0329313b,
    inset 0 1px 1px 0 #0329313b;
}

/* HERO */

.hero-section {
  padding-top: 0;
  display: flex;
  gap: 35px;
}

.hero-container {
  display: flex;
  gap: 35px;
  height: auto;
}

.hero-content {
  padding: 112px 0;
}

.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 18px;
  max-width: 410px;
}
.hero-text {
  font-size: 18px;
  line-height: 1.56;
  margin-bottom: 45px;
  max-width: 495px;
}
.hero-btn-list {
  display: flex;
  gap: 30px;
  align-items: center;
}

.hero-start-btn {
  min-width: 178px;
  height: 53px;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  background-color: #02897a;
  color: #fff;
  padding: 15px 42px;
}

.hero-start-btn:hover,
.hero-start-btn:focus {
  box-shadow: inset 2px 1px 1px 2px #0329313b, inset 1px 2px 1px 0 #0329313b,
    inset 0 1px 1px 0 #0329313b;
}

.hero-video-btn {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
}

.hero-btn-link {
  display: inline-flex;
  align-items: center;
  color: #02897a;
  text-decoration: underline;
  padding: 15px 0;
}

.hero-btn-link:hover,
.hero-btn-link:focus {
  text-decoration: none;
}

.hero-btn-icon {
  fill: #02897a;
  margin-right: 2px;
}

/* PRODUCTS */

.products-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
  width: 519px;
  margin: 0 auto 50px;
}
.prodacts-list {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}
.products-item {
  flex-basis: calc((100% - 90px) / 4);
}

.products-icon-wrapper {
  width: 54px;
  height: 54px;
  border-radius: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;
}

.products-item:nth-child(1) .products-icon-wrapper {
  background-color: #02897a;
}

.products-item:nth-child(2) .products-icon-wrapper {
  background-color: #4d8dff;
}

.products-item:nth-child(3) .products-icon-wrapper {
  background-color: #740a76;
}

.products-item:nth-child(4) .products-icon-wrapper {
  background-color: #f03e3d;
}

.products-icon {
  fill: #fff;
}

.products-item-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 13px;
}
.products-item-text {
  font-size: 16px;
  line-height: 1.62;
}
.products-btn {
  display: block;
  border-radius: 4px;
  border: none;
  min-width: 175px;
  height: 53px;
  background-color: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
}

/* BENEFITS */

.benefit-list {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.benefit-item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 84px;
}

.benefit-item-title {
  font-weight: 600;
  font-size: 16px;
  max-width: 224px;
}

.benefit-title-bold {
  font-weight: 700;
  font-size: 32px;
  display: block;
  margin-top: 8px;
  margin-bottom: 25px;
}

.benefit-item-text {
  font-size: 16px;
  line-height: 1.62;
  max-width: 486px;
}

.benefit-info-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 30px;
}

.benefit-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.62;
  margin-bottom: 12px;
}

.benefit-item-row {
  flex-direction: row;
}

.benefit-title-support {
  max-width: 304px;
}

.benefit-text-support {
  max-width: 437px;
}

.icon-check-wrapper {
  /* border: 2.92px solid #fff; */
  border-radius: 14px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefit-support-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 30px; */
}

.benefit-support-description {
  max-width: 386px;
}

.benefit-support-item:nth-child(1) .icon-check-wrapper {
  background-color: #ff9900;
}

.benefit-support-item:nth-child(2) .icon-check-wrapper {
  background-color: #f03e3d;
}

.benefit-support-item:nth-child(3) .icon-check-wrapper {
  background-color: #4d8dff;
}

.benefit-icon-check {
  fill: #fff;
}

/* PROCESS */

.process-container {
  padding: 50px 95px 0;
  margin: 0 auto;
}

.process-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin-bottom: 25px;
}

.process-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  max-width: 542px;
  margin: 0 auto 40px;
}

.process-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 100px;
  row-gap: 25px;
}

.process-item {
  flex-basis: calc((100% - 100px) / 2);
  display: flex;
  align-items: center;
  gap: 10px;
}

.process-item-reverse {
  flex-direction: row-reverse;
}

.process-icon {
  fill: #fff;
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
  border-radius: 35px;
}

.process-member {
  max-width: 281px;
  position: relative;
  /* display: inline-block; */
}

.process-quote {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  /* z-index: 999; */
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #2f281e;
  width: 100%;
}

.process-btn {
  min-width: 216px;
  border-radius: 4px;
  background-color: #02897a;
  margin: 50px auto 0;
  display: block;
  padding: 15px 30px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

/* STRATEGIES */

.strategies-title {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 10px;
}

.strategies-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  max-width: 465px;
  margin-bottom: 40px;
}

.strategies-list {
  display: flex;
  gap: 30px;
}

.strategies-item {
  flex-basis: calc((100% - 60px) / 3);
  border: 1px solid #dedede;
  border-radius: 8px;
}

.strategies-item:hover,
.strategies-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.strategies-content {
  padding: 24px 0 40px 27px;
}

.strategies-data {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 12px;
  color: #22343d;
}

.strategies-name {
  font-weight: 700;
}

.strategies-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  color: #22343d;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.strategies-item:hover .strategies-text,
.strategies-item:focus .strategies-text {
  color: #02897a;
}

/* PRICES */

.prices-title {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 10px;
  text-align: center;
}

.prices-subtitle {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 40px;
  text-align: center;
}

.prices-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.prices-item {
  flex-basis: calc((100% - 144px) / 3);
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  padding: 32px 0;
  text-align: center;
}

.prices-item:nth-child(2) {
  background-color: #02897a;
}

.prices-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  margin-bottom: 8px;
}

.prices-subheading {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  margin-bottom: 16px;
}

.prices-number {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 76px;
  line-height: 1.32;
  letter-spacing: 0em;
  text-align: center;
  color: #02897a;
}

.prices-sign {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;
  text-align: left;
  margin-bottom: 7px;
}

.prices-period {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.01em;
  color: #afafaf;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-bottom: 16px;
}

.prices-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.37;
  letter-spacing: 0.01em;
}

.prices-description:not(:last-child) {
  margin-bottom: 16px;
}

.prices-btn {
  border-radius: 8px;
  min-width: 139px;
  background-color: #02897a;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  padding: 11px 18px;
  border: none;
  display: block;
  margin: 30px auto 0;
}

.prices-item:nth-child(2) .prices-heading,
.prices-item:nth-child(2) .prices-subheading,
.prices-item:nth-child(2) .prices-number,
.prices-item:nth-child(2) .prices-sign,
.prices-item:nth-child(2) .prices-description {
  color: #fff;
}

.prices-item:nth-child(2) .prices-period {
  color: #e0e0e0;
}

.prices-item:nth-child(2) .prices-btn {
  color: #02897a;
  background-color: #fff;
}

/* CLIENTS */

.clients-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.78;
  letter-spacing: 0.01em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.clients-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  text-align: center;
  margin: 0 auto 40px;
  text-align: center;
  max-width: 537px;
}

.clients-list {
  display: flex;
  align-items: center;
  gap: 64px;
}

.clients-item {
  flex-basis: calc((100% - 128px) / 3);
}

.clients-icon-list {
  display: flex;
  align-items: center;
  gap: 4px;
}

/* FOOTER */

.footer-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 30px;
  width: 280px;
}

.input-container {
  position: relative;
  margin-bottom: 25px;
}

.input {
  width: 325px;
  height: 48px;
  padding: 10px 42px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
}

.input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #02897a;
}

.icon {
  position: absolute;
  top: 10px;
  left: 12px;
  fill: #02897a;
}

.sign-button {
  color: #ffffff;
  background-color: #02897a;
  padding: 8px 15px 7px 15px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}
